:root {
    --folder-size: 250px;
    --folder-padding: 18px;
}

._5e434347c823b592-guilds {
    mask: none !important;
}


.dbd2630aec71879b-stack>div._48112cbe77dc5022-folderGroup._48112cbe77dc5022-isExpanded {
    top: calc(50vh - var(--folder-size) / 2);
    left: calc(50vw - var(--folder-size) / 2);
    position: fixed;
    width: var(--folder-size) !important;
    height: var(--folder-size);
    align-self: center !important;
    justify-self: center !important;
    z-index: 200;
    pointer-events: all;

    >._650eb104245d257b-listItem,
    ._48112cbe77dc5022-folderButton {
        position: fixed;
        background: rgb(0, 0, 0, 0.25);
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: -2;
        pointer-events: all;

        >.cc5dd25190031396-wrapper {
            .cc5dd25190031396-svg {
                contain: none;
            }

            foreignObject {
                mask: none !important;
                overflow: visible;
            }
        }
    }

    ._48112cbe77dc5022-folderGuildsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: var(--folder-size) !important;
        max-height: var(--folder-size);
        align-items: start;
        align-content: start;
        justify-content: space-between;
        box-sizing: border-box;
        padding: var(--folder-padding) !important;
        overflow: hidden scroll;

        >div {
            height: 40px !important;
            width: 40px;
        }

        &::before {
            content: attr(aria-label);
            font-size: 20px;
            color: white;
            z-index: 200;
            position: absolute;
            width: 100%;
            text-align: center;
            top: -40px;
            left: 0px;
            filter: drop-shadow(0px 0px 10px black);
            pointer-events: none !important;
        }

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }



        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: var(--scrollbar-thin-thumb);
            border: 2px solid transparent;
            border-radius: 4px;
            min-height: 40px;
        }

        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track {
            visibility: hidden;
        }

        &:hover {

            &::-webkit-scrollbar-thumb,
            &::-webkit-scrollbar-track {
                visibility: visible;
            }
        }

        &::-webkit-scrollbar-track {
            background-color: var(--scrollbar-thin-track);
            border: 2px solid var(--scrollbar-thin-track);
            border-color: var(--scrollbar-thin-track);
        }

        >:first-child {
            margin: 0px;
        }
    }

    ._48112cbe77dc5022-folderGroupBackground {
        left: 0px;
        top: 0px;
        width: var(--folder-size) !important;
        height: var(--folder-size);
        backdrop-filter: blur(20px);
        z-index: -1;
    }

    ._48112cbe77dc5022-folderButtonInner {
        position: fixed;
        top: calc(50vh - calc(var(--folder-size) / 2) - 54px);
        left: calc(50vw - var(--folder-size) / 2);
        pointer-events: none !important;

        ._48112cbe77dc5022-folderButtonContent {
            width: var(--folder-size);
            display: flex;
            /* flex-direction: row-reverse; */
            justify-content: space-between;
            pointer-events: none !important;

            ._48112cbe77dc5022-folderPreviewWrapper {
                display: none;
            }

            ._48112cbe77dc5022-folderHeader>svg>path {
                /* d: path("M17.3 18.7a1 1 0 0 0 1.4-1.4L13.42 12l5.3-5.3a1 1 0 0 0-1.42-1.4L12 10.58l-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 1 0 1.42 1.4L12 13.42l5.3 5.3Z") */
            }
        }
    }

    ._48112cbe77dc5022-folderButtonContent,
    ._48112cbe77dc5022-folderButtonInner {
        overflow: visible !important;
    }
}



.a3002d7de5be5280-notAppAsidePanel:has(._48112cbe77dc5022-folderGroup._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderButton:hover) ._918165dab2b1e10b-listItemTooltip {
    display: none;
}

._5e434347c823b592-sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--custom-app-top-bar-height));
    width: calc(var(--custom-guild-sidebar-width) - 72px) !important;
}

._5e434347c823b592-guilds,
.ef3116c2da186559-tree,
.dbd2630aec71879b-stack {
    display: contents;
}

.ef3116c2da186559-itemsContainer {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-xs);
    --custom-guild-list-width: 40px;
    order: 1;
    padding: var(--space-xs);
    align-items: center;
    justify-items: center;
    align-content: start;
    justify-content: center;
    transition: all 750ms ease;
    height: auto;
    max-height: calc(40px + var(--space-xs) * 2);
    background: var(--background-base-lower);
    margin: 0px var(--space-sm);
    border-radius: var(--radius-sm) var(--radius-sm) 0px 0px;
    border: 1px solid var(--border-faint);
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs) - 2px);

    &::before {
        margin: 0px 40% 2px;
        content: "";
        background: var(--background-mod-subtle);
        width: 30px;
        height: 3px;
        border-radius: 6px;
    }

    &:hover {
        max-height: 100vh;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

.ef3116c2da186559-tree:has(.ef3116c2da186559-itemsContainer:hover)~.ef3116c2da186559-unreadMentionsIndicatorBottom {
    bottom: 0px;
}

._5e434347c823b592-sidebarList {
    height: 100%;
    flex: unset;
    border-left: 0px;
}

._650eb104245d257b-listItem:has(>._252b6afd49fda06f-guildSeparator) {
    display: none;
}

.ef3116c2da186559-unreadMentionsIndicatorBottom {
    position: absolute;
    /* rotate: -90deg; */
    /* right: 0px!important; */
    left: calc(100% - var(--custom-guild-list-width) - var(--space-xs));
    bottom: calc(var(--custom-app-panels-height, 0));
    transition: all 0.3s ease;

    ._3b95d7d910416e54-bar {
        border-radius: 12px 12px 0px 0px;
    }
}


._581051df43c5ebb6-wrapper {
    width: 100%;
    z-index: 200;
    overflow: visible;
    pointer-events: none;

    ._581051df43c5ebb6-item {
        width: 100%;
        height: 100% !important;
        margin-left: -2px;
        border-radius: 16px;
        border: 2px solid var(--header-primary);
        background: transparent;
        box-shadow: inset 0px 0px 0px 1px var(--background-base-lower);

        &[style="opacity: 1; height: 40px; transform: none;"] {
            border-color: var(--brand-500);
        }
    }
}

._48112cbe77dc5022-folderGroup>._650eb104245d257b-listItem>.e5445cbd3ad226f2-pill {
    width: 46px;

    ._581051df43c5ebb6-item {
        margin-left: -4px;
    }
}

._5e434347c823b592-sidebar:after {
    z-index: 5;
}

._99e7cad8d4c55236-scroller {
    margin-bottom: 0px;
}

._2637a2609f343032-container {
    padding-bottom: 0px;
}

